form{
    margin-bottom: 10px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
#books tr:nth-child(2n) {
    background-color: #eee;
}
td, th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}